In [2]:
import pandas as pd

In [17]:
netflix = pd.read_csv("netflix_data.csv")

In [18]:
netflix.head()

,Unnamed: 0,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [33]:
a = netflix[netflix['movie_title'] == "Avatar"]['Unnamed: 0'][0]
print(a)

0

In [27]:
a

0    0
Name: Unnamed: 0, dtype: int64

In [25]:
movie_id = netflix[netflix['movie_title'] == "Avatar"['Unnamed: 0'].values[0]]

<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
/tmp/ipykernel_2219/1985131180.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  movie_id = netflix[netflix['movie_title'] == "Avatar"['Unnamed: 0'].values[0]]
/tmp/ipykernel_2219/1985131180.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  movie_id = netflix[netflix['movie_title'] == "Avatar"['Unnamed: 0'].values[0]]
/tmp/ipykernel_2219/1985131180.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  movie_id = netflix[netflix['movie_title'] == "Avatar"['Unnamed: 0'].values[0]]
/tmp/ipykernel_2219/1985131180.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  movie_id = netflix[netflix['movie_title'] == "Avatar"['Unnamed: 0'].values[0]]
/tmp/ipykernel_2219/1985131180.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  movie_id = netflix[netflix['movie_title'] == "Avatar"['Unnamed: 0'].values[0]]
/tmp/ipykernel_2219/1985131180.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  movie_id = netflix[netflix['movie_title'] == "Avatar"['Unnamed: 0'].values[0]]

TypeError: string indices must be integers